*{
    box-sizing: border-box;
}
body {
    background-color: rgb(248, 219, 214);
    margin: 0;
    color: rgb(41, 45, 126);
    font-family: 'Montserrat', sans-serif;
}
nav {
    display: flex;
    background-color: white;
    height: 75px;
    border-bottom: 1px solid rgb(133, 138, 228);
    box-shadow: 0px 2px 5px rgb(133, 138, 228);
}
nav div{
    display: flex;
    text-decoration: none;
    /* border: 2px solid black; */
    align-items: center;

}
.left {
    width: 60%;
}
.middle {
    width: 40%;
    justify-content: space-around;
    font-weight: 600;
    font-size: 15px;
    color: rgb(78, 85, 223);
}
.right{
    width: 20%;
    justify-content: center;
}
.nav-div a{
    display: flex;
    /* border: 2px solid red; */
    text-decoration: none;
}
.ladybug-nav {
    text-decoration: none;
    color: rgb(78, 85, 223);
    margin-left: 15%;
    font-weight: 600;
}
.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-image {

}
.home-page-text {
    display: flex;
    flex-direction: column;
    max-width: 55%;
    margin-right: 80px;
}
.bold-statement span {
    color: rgb(126, 183, 166);
}
.bold-statement {
    display: flex;
    flex-wrap: wrap;
    font-weight: 900;
    font-size: 100px;
    display: block;
    margin-bottom: 0px;
}
.statement {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.6em;
    width: 480px;
}
.email-bar {
    display: flex;
    background-color: white;
    
}
.input-side {

}
.email-writing {

}
.input-bar {

}
.intup-text {

}
.get-started-button {
    margin: 0 auto;
    border: 0;
}